.control {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 11;
  max-height: calc(100vh - 100px);
  color: $colorFG1;
  background-color: $colorBG2;
  transform: translateY(100%);
  transition: transform 300ms;
  text-align: left;
  .control__check:checked + & {
    transform: translateY(-3px);
  }
  &__inner {
    width: 100%;
    max-height: calc(100vh - 102px);
    padding: 2rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__title {
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 0.8em;
    line-height: 1;
  }
  &__check {
    display: none;
  }
  &__close {
    position: absolute;
    right: 0;
    top: 100%;
    width: 2rem;
    height: 0;
    margin-top: -1px;
    border-left: 0.5rem solid transparent;
    border-top: 2rem solid $colorBG2;
    cursor: pointer;
  }
  &__row {
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;
  }
  &__cell {
    h3 {
      margin: 1em 0 0.5em;
    }
  }
  &__split1 {
    width: 25%;
  }
  &__split2 {
    width: 70%;
  }
  &__manual {
    position: relative;
    z-index: 999;
    width: 240px;
    margin: 0 0 1em;
    float:left;
    color: #000;
    border: none;
    background: $colorAlt;
    font-size: 1em;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    .logged-in & {
      display: none;
    }
  }
}
.abcRioButtonBlue {
  color: $colorBG2 !important;
  background-color: $colorFG1 !important;
  border-radius: 5px !important;
  margin-bottom: 1em;
}