* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

html,body {
  height: 100%;
  margin: 0;
  background: #000;
  text-align: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  &__inner {
    width: 100%;
    opacity: 0.2;
    transition: opacity 200ms;
    &.flickity-enabled {
      opacity: 1;
      transition: opacity 1000ms;
      transition-delay: 500ms;
    }
  }
}

.result {
  display: block;
  width: 100%;
  max-height: 0;
  color: $colorFG1;
  line-height: 1.2;
  overflow: hidden;
  &:last-child {
    max-height: 999rem;
  }
  .flickity-enabled & {
    max-height: 999rem;
  }
  &__device,
  &__client,
  &__figures,
  &__total {
    max-width: calc(100vw - 10px);
    margin: 0;
  }
  &__device,
  &__client,
  &__figures {
    font-size: 8vw;
    @media (orientation: landscape) {
      font-size: 4vw;
    }
  }
  &__client {
    text-transform: uppercase;
    &:after {
      content: ': ';
    }
  }
  &__device {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    .result__device__check:checked~& {
      color: #666;
      cursor: default;
    }
    &__check {
      display: none !important;
    }
    &__ua {
      max-height: 0;
      max-width: 32em;
      margin: 0 auto;
      padding-bottom: 0.5em;
      font-size: 4vw;
      color: #fff;
      text-decoration: none;
      outline: none;
      opacity: 0;
      overflow: hidden;
      cursor: pointer;
      transition: all 500ms;
      @media (orientation: landscape) {
        font-size: 2vw;
      }
      .result__device__check:checked~& {
        max-height: 5.5em;
        opacity: 1;
      }
    }
  }
  &__total {
    font-size: 40vw;
    @media (orientation: landscape) {
      font-size: 25vw;
    }
  }
  &__figures {
    display: inline;
    opacity: 0.5;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vw;
  max-height: 999rem;
  margin: -25vw 0 0 -25vw;
  opacity: 1;
  stroke: $colorFG1;
  transform: scale(1);
  overflow: hidden;
  transition: opacity 500ms, transform 500ms, max-height 0s;
  transition-delay: 0s, 0s, 500ms;
  .flickity-enabled + & {
    opacity: 0;
    transform: scale(3);
    max-height: 0;
  }
  @media (orientation: landscape) {
    width: 50vh;
    height: 50vh;
    margin: -25vh 0 0 -25vh;
  }
}